<div class="container">
  <div class="actions-bar">
    <button class="btn-create" [routerLink]="['create']">
        Créer un article
      </button>

    <div class="sort-link" (click)="toggleSort()">
      Trier par <span class="arrow">@if(sortDirection === 'desc'){ ↓ } @else { ↑ }</span>
    </div>
  </div>


  <!-- tableau de post -->
  <div class="post-grid">
    @for (post of posts; track post.id) {
      <div class="post-card"  [routerLink]="[post.id]">
        <h2 class="post-title">{{ post.titre }}</h2>
        
        <div class="post-meta">
          <span class="date">{{ post.createdAt | date:'dd/MM/yyyy' }}</span>
          <span class="author">{{ post.userName }}</span>
        </div>
        <p class="post-body" >{{ post.contenu }}</p>
      </div>
    } @empty {
      <p class="empty-msg">Aucun article à afficher. Abonnez-vous à des thèmes !</p>
    }
  </div>
</div>