.detail-container {
  width: 85%;
  max-width: 1000px;
  margin: 40px auto;
  font-family: sans-serif;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.btn-back {
  width: 40px;
  cursor: pointer;
}

h1 {
  font-size: 1.8rem;
  margin: 0;
}

/* --- Article --- */
.post-meta {
  display: flex;
  gap: 60px;
  margin: 15px 0 30px 60px; /* Aligné sous le titre */
  color: #333;
  font-weight: 500;
}

.post-body {
  margin-left: 60px;
  line-height: 1.6;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.separator {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #000;
}

/* --- Commentaires --- */
.comments-section h2 {
  font-size: 1.3rem;
  margin-bottom: 25px;
  font-weight: normal
}

.comment-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.comment-author {
  font-weight: normal;
  min-width: 100px;
  padding-top: 10px;
}

.comment-bubble {
  background-color: #F2F2F2;
  padding: 15px 25px;
  border-radius: 15px;
  flex-grow: 1;
  max-width: 70%;
  overflow-wrap: break-word;
}

/* --- Formulaire d'envoi --- */
.comment-form-container {
  margin-top: 40px;
  margin-left: 60px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

textarea {
  flex-grow: 1;
  padding: 15px;
  border: 1.5px solid #000;
  border-radius: 12px;
  font-family: inherit;
  resize: none;
}

.btn-icon-send {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-icon-send img {
  width: 40px;
  transition: transform 0.2s;
}

.btn-icon-send:hover:not(:disabled) img {
  transform: scale(1.1);
}

.btn-icon-send:disabled img {
  filter: grayscale(1);
  opacity: 0.5;
  cursor: not-allowed;
}

/* --- RESPONSIVE MOBILE --- */
@media (max-width: 768px) {
  .detail-container { width: 95%; margin: 20px auto; }
  
  .post-meta { 
    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 15px;
    column-gap: 20px;

    margin: 15px 0 30px 0;
    color: #333;
    font-weight: 500;
  }

  .meta-date {
    grid-column: 1; /* Case 1 (colonne 1) */
    grid-row: 1;    /* Case 1 (ligne 1) */
  }

  .meta-author {
    grid-column: 2; /* Case 2 (colonne 2) */
    grid-row: 1;    /* Case 2 (ligne 1) */
  }

  .meta-topic {
    grid-column: 1 / span 2; /* LE THÈME PREND LES 2 COLONNES */
    grid-row: 2;             /* Il va donc à la ligne */
    width: fit-content;      /* Le badge s'ajuste à son texte */
  }

  .post-body, .comment-row, .comment-form-container {
    margin-left: 0;
  }

  .comment-row {
    flex-direction: column;
    gap: 5px;
  }

  .comment-author {
    align-self: flex-end; /* Pseudo à droite sur mobile comme sur l'image */
    font-size: 0.8rem;
  }

  .comment-bubble {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}