<div class="page-container">
  <div class="login-container">
    <h2>Se connecter</h2>
    
    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">

      <div class="form-field">
        <label for="pseudo">E-mail ou nom d'utilisateur</label>
        <input id="pseudo" type="text" formControlName="login">
      </div>
      <div class="form-field">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password">
      </div>
      <div class="form-actions">
        <button type="submit" [disabled]="form.invalid" class="btn-submit">Se connecter</button>
      </div>
      @if (error) {
        <p class="error">Identifiants incorrects</p>
      }
    </form>
  </div>
</div>